asgiref
blinker
certifi
charset-normalizer
click
colorama
filelock
Flask
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
torch
torchvision
transformers
Pillow
python-dateutil
pytz
requests
six
sqlparse
tqdm
typing_extensions
urllib3
Werkzeug